.section2-home {
    
  width: 100%;
  max-width: 1200px;
  margin:auto;
  padding: 0 ;
  background: #fff;
  border-radius: 16px;
  box-shadow: 0 2px 12px rgba(0,0,0,0.4);
}
.section2-home-image-placeholder {
  overflow: hidden; 
  border-radius: 12px; 
  display:flex; 
  gap:0.5rem;
}
.section2-home-img1, .section2-home-img2 {
  width:100% ; 
  height:auto; 
  object-fit: fill; 
  border-radius: 12px;
}
.section4-home {
    border-radius: 15px;
    border: solid;
}

.section4-home-a {
 
 
  display: inline-block;
  background: #3182ce;
  color: #fff;
  text-decoration: none;
  margin-top: 1rem;
  padding: 0.8rem 1.5rem;
  border-radius: 8px;
  font-weight: 500;
  transition: all 0.3s ease;
  text-align: center;
  width: 100%;
  align-self: center;
  margin-bottom: 1rem;
  margin-left: 6rem;
  margin-right: 6rem;
}

.section4-home-container {
    display:block;
    margin: 50px 20px;
}
.section4-home-img-container {
 display: grid;
 grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));   
 
}
.section4-home-img-placeholder {
    padding: 12px;
}
.section4-home-img-container h4 {
   text-align: center;
   height: 100%;
   font-size: larger;
}
.section4-home-img-placeholder img {
    width: 100%; 
    height:100%; 
    object-fit: fill; 
    border-radius: 12px;
    }
 .section4-home-btn {
  margin-bottom: 0;
 }
@media screen and (max-width: 700px) {
  .section2-home-image-placeholder {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr)) !important;
  }
  .section2-home-img1, .section2-home-img2 {
    height: 100% ; 
  }
 
}